**/.DS_Store
**.png~
**/UserInterfaceState.xcuserstate
**/__pycache__
.vs/
Debug/
Build/
Dependencies/
Output/
cmake-build-debug/
venv/
.idea/
Terralistic.xcarchive/
copy_files.py


# Added by cargo

/target

